@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th>Discount Rate</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@Html.ActionLink(cust.Name,"Details","Customers", new {id = cust.Id }, null)</td>
                <td>@cust.MembershipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>

